## Set Data Structure

- stores unique elements
- unordered

In [1]:
s = set([15,1,2,3,4,3,1,1])

In [2]:
print(s)

{1, 2, 3, 4, 15}

In [3]:
s2 = {5,6,11,1,1}
print(s2)

{1, 11, 5, 6}

In [4]:
s2.add(50)
print(s2)

{1, 5, 6, 11, 50}

In [7]:
print(s)
print(s2)
print(s.union(s2))
print(s)
print(s2)

{1, 2, 3, 4, 15}
{1, 5, 6, 11, 50}
{1, 2, 3, 4, 5, 6, 11, 15, 50}
{1, 2, 3, 4, 15}
{1, 5, 6, 11, 50}

In [8]:
s.union(s2)

{1, 2, 3, 4, 5, 6, 11, 15, 50}

In [10]:
print(s)
print(s2)

{1, 2, 3, 4, 15}
{1, 5, 6, 11, 50}

In [11]:
s | s2

{1, 2, 3, 4, 5, 6, 11, 15, 50}

In [12]:
# or can be done to take the union

In [13]:
# and to do intersection

In [14]:
s & s2

{1}

In [15]:
s.intersection(s2)

{1}

In [16]:
print(s)

{1, 2, 3, 4, 15}

In [17]:
print(s2)

{1, 5, 6, 11, 50}

In [18]:
# set difference
s -s2

{2, 3, 4, 15}

In [19]:
s.difference(s2)

{2, 3, 4, 15}

In [20]:
# to remove all the elements from the set

In [21]:
s.clear()

In [22]:
print(s)

set()

In [23]:
# it is a empty set

In [24]:
# to check for membership

In [25]:
s = set([1,2,3,5])

In [26]:
if 4 in s:
    print("present")
else:
    print("not present")

not present

In [27]:
if 5 in s:
    print("present")

present

In [28]:
s1 = set([1,2,3,4,5,6])
s2 = set([5,6,7,8])
s1 ^ s2

{1, 2, 3, 4, 7, 8}

In [29]:
# only those elements which belong to exactly one of the sets